@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #F7F9FA;
    font-family: "Lato", sans-serif;
    text-decoration: none;
}

.text_title {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.text_title h1 {
    font-size: 2rem;
    font-weight: bold;
}

.text_title a {
    font-size: 1rem;
    font-weight: 600;
    background-color: #892DE1;
    color: #fff;
    padding: 15px 20px;
    border-radius: 15px;
    cursor: pointer;
}

.text_title a:hover {
    background-color: #8a2de1d0;
}

@media ( min-width: 375px) {
    .text_title {
        text-align: center;
        padding: 0 25px;
    }
}